html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  letter-spacing: -0.03em;
}
header {
  margin: 0 auto;
  width: 1400px;
}
main {
  margin: 0 auto;
}

.header__nav {
  margin-left: 124px;
  margin-top: 32px;
  width: 1151px;
}
.nav__list {
  float: right;
}
.nav-link {
  margin-left: 57px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-decoration: none;
  color: #121212;
}
.nav-link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.container__wrap {
  margin: 0 auto;
  width: 1400px;
}
.intro__text {
  margin-bottom: 30px;
  margin-left: 125px;
  margin-top: 68px;
  height: 120px;
  width: 956px;
  display: inline-block;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.chair {
  margin: 0 auto;
  padding-top: 379px;
  padding-left: 40px;
  height: 500px;
  width: 1150px;
  background-image: url("../resources/chair.png");
}
p {
  height: 81px;
  width: 430px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.about-us {
  margin-top: 150px;
  margin-left: 125px;
  height: 518px;
  width: 1051px;
}
h2 {
  margin-bottom: 30px;
  height: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #121212;
}
.about-us-text {
  height: 366px;
  width: 1048px;
  /* font-weight: 400; */
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
}
.button {
  margin-top: 30px;
  width: 255px;
  height: 67px;
  background: #ad1818;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 67px;
  display: block;
  color: #ffffff;
}
.projects {
  margin: 150px 0 0 125px;
  height: 2122px;
  width: 1150px;
}
.project__img {
  width: 1150px;
  height: 450px;
}
.project__text {
  height: 41px;
  margin-top: 15px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #121212;
}
.project__btn {
  display: inline-block;
  padding-top: 15px;
  height: 27px;
  width: 127px;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #ad1818;
}
.container__salon,
.container__kitchen {
  margin-top: 90px;
}
.btn__all__projects {
  margin-top: 90px;
  top: 3565px;
  padding: 56px 0;
  display: block;
  border: 1px solid #ad1818;
  text-decoration: none;
  font-size: 30px;
  line-height: 41px;
  color: #ad1818;
  letter-spacing: -0.03em;
  text-align: center;
  border-radius: 5px;
}
.btn__all__projects:hover {
  color: #ffffff;
  background-color: #ad1818;
}
.services {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 150px;
  height: 1846px;
  background-color: #121212;
}
.services__container {
  margin: auto;
  width: 1150px;
}
.service__text {
  color: #ffffff;
  padding-top: 151px;
}
.drawing__img {
  margin-top: 34px;
}
.drawing__text,
.palette__text,
.author__text,
.storage__text {
  margin-top: 12px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.palette__img,
.author__img,
.storage__img {
  margin-top: 60px;
  text-align: center;
}
.bedroom {
  box-sizing: border-box;
  position: relative;
  min-width: 100%;
  height: 717px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../resources/bedroom.png");
}
.badroom__container {
  margin: 0 auto;
  width: 1150px;
}
.bedroom__text {
  position: absolute;
  left: 125px;
  bottom: 60px;
  width: 443px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.contact__text,
.contacts__information {
  margin-left: 124px;
  margin-top: 10px;
}
.contact__text::before {
  margin-top: 151px;
  margin-bottom: 13px;
  content: "";
  display: block;
  width: 13px;
  height: 22px;
  background-image: url("../resources/iconephone.png");
  background-position: 50%;
}

.nomber__contact,
.email__contact {
  margin-left: 125px;
  text-decoration: none;
  font-size: 59px;
  line-height: 60px;
  color: #121212;
}
.nomber__contact {
  margin-bottom: 30px;
  padding-top: 37px;
  display: block;
}
.email__contact:hover {
  opacity: 0.5;
  border-bottom: 2px solid #121212;
}
footer {
  margin: 0 auto;
  margin-top: 160px;
  height: 229px;
  background-color: #121212;
  padding-top: 60px;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.nav_footer {
  color: #121212;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  margin-right: 55px;
}
li:nth-child(4) {
  margin-right: 0;
}
.footer_link {
  text-decoration: none;
  color: #ffffff;
}
.footer_link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.footer_text {
  margin-top: 87px;
  margin-left: auto;
  margin-right: auto;
  width: 389px;
  height: 27px;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.footer_text:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
